{% extends "base.html" %}

{% block head %}
<title>{% block title %}Signup{% endblock %}</title>
<link rel="stylesheet" href="/media/auth.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
<script src="/media/auth.js"></script>
{% endblock %}

{% block body %}
Please implement body block
{% endblock %}
